{% extends "base.html" %}

{% block title %}
{% if projeto %}
Editar Projeto
{% else %}
Novo Projeto
{% endif %}
| SprintTasks
{% endblock %}

{% block content %}

<div class="form-page">

    <p class="eyebrow">PROJETO</p>

    {% if projeto %}
        <h1>Editar projeto</h1>

        <p>
            Atualize as informações do projeto.
        </p>
    {% else %}
        <h1>Novo projeto</h1>

        <p>
            Preencha os dados abaixo para cadastrar um novo projeto.
        </p>
    {% endif %}


    <form method="post" class="form-card">

        {% csrf_token %}

        {{ form.as_p }}


        <div class="form-actions">

            <a
                class="btn secondary"
                href="{% url 'core:projeto_lista' %}"
            >
                Cancelar
            </a>

            <button class="btn primary" type="submit">

                {% if projeto %}
                    Salvar alterações
                {% else %}
                    Cadastrar projeto
                {% endif %}

            </button>

        </div>

    </form>

</div>

{% endblock %}